.main {
  max-width: 100vw;
  width: 100%;
  background-color: white;
  padding: 1rem 0 1rem 0;
}
.main > div {
  max-width: 90%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logocartdiv {
  position: relative;
}
.logocartdiv span {
  background-color: crimson;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: -9px;
}
