@font-face {
  font-family: "MIKHAK";
  src: url("./fonts/Mikhak-Medium.ttf") format("truetype");
}
* {
  font-family: MIKHAK;
  font-size: 14px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
